body {

    background-image: linear-gradient(-45deg, #bb4724, #74a1b1, #f0ed5e);

    background-size: 400% 400%;

    animation: gradient 15s ease infinite;

    height: 100vh;

    color: white;

}



@keyframes gradient {

    0% {

        background-position: 0% 50%;;

    }

    50% {

        background-position: 100% 50%;

    }

    100% {

        background-position: 0% 50%;

    }

}



input {

    margin-bottom: 10px;

    margin-top: -10px;

}

button {

    margin-bottom: 10px;

}



.guess_box {

    text-align: center;

    padding-top: 10%;

}